<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/data_change.css') }}">
</head>
<body>

    <nav role = "navigation">
        <div id = "menuToggle">
            <input type = "checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id = "menu">
                <a href = "{{ url_for('home') }}"><li>Home</li></a>
                <a href = "{{ url_for('db_view') }}"><li>View Birthdays</li></a>
                <a href = "{{ url_for('add_profile') }}"><li>Add Profile</li></a>
                <a href = "{{ url_for('hw') }}"><li>Actual Homework</li></a>
                <a href = "https://github.com/sotong1337"><li>Github</li></a>
            </ul>
        </div>
    </nav>


    <div id = "responses">
        <div id = "defaultText">
            <form action = "{{ url_for('process_edit') }}" method = 'POST'>
                <input type = "text" class = "hide" name = "id_" value = "{{ id_ }}" display = "none" placeholder = "name" readonly = "readonly"></input>

                <span class = "in_name">
                    <input type = "text" value = "{{ name_ }}" name = "name_" autocomplete="off" spellcheck = "false"></input>
                    <p>Name</p>
                </span>
                
                <div class = "bday">
                    <div class = "txt">Birthday:</div>
                    
                    <div class = "in_day">
                        <input type="number" value = "{{ day }}" id="days" name="days" autocomplete="off" placeholder="Day: 1-31", min="1" max="31" step = "1">
                    </div>

                    <div class = "slash">/</div>

                    <div class = "in_month">
                        <input type="number" value = "{{ month }}" id="months" name="months" autocomplete="off" placeholder="Month: 1-12" min="1" max="12" step = "1">
                    </div>
                </div>

                <div class = "paper">
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNotes</p>
                    <div class = "lines">
                        <textarea class = "note_text" value = "{{ notes }}" spellcheck = "false" name = "message">
                        {{ notes }}</textarea>
                    </div>
                </div>

                <input type = "submit" class = "fsub g" id = "sub" value = "Save Changes">
            </form>

            <form action = "{{ url_for('process_edit') }}" method = 'GET'>
                <input type = "text" class = "hide" name = "id_" value = "{{ id_ }}" display = "none" readonly = "readonly"></input>

                <input type = "submit" class = "fsub r" onclick="clicked(event)" value = "Delete Profile">
            </form>
        </div>
        
        <p id = "dayAlert" class = "editp"></p>
        <p id = "monthAlert" class = "editp"></p>
    </div>

</body>
<script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src = "{{ url_for('static', filename = 'date_validate.js') }}"></script>
</html>